.h{
  height: 25vh;
}
.gg{
  width: 100px;
  height: 100px;
  background: deepskyblue;
  padding: 2%;
  margin: 2%;
  display: flex;
  align-items: center;
  font-size: 12px;
}


.f{
  width: 300px;
  height: 300px;
}

.s{
  width: 100px;
  height: 100px;
}

.q{
  width:100px
}

.d{
  height: calc(100% - 48px);
}

